<!-- templates/analisis/navbar.html -->
<nav class="bg-white shadow-md mb-5">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <a href="{% url 'dashboard' %}" class="text-xl font-bold text-blue-600 hover:text-blue-800">
                    💈 SentimenBarbershop
                </a>
            </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-6 items-center">
                <a href="{% url 'dashboard' %}" class="text-gray-700 hover:text-blue-600 transition">Dashboard</a>
                <a href="{% url 'predict' %}" class="text-gray-700 hover:text-blue-600 transition">Prediksi</a>
                <a href="{% url 'dataset' %}" class="text-gray-700 hover:text-blue-600 transition">Dataset</a>
            </div>
        </div>
    </div>
</nav>
